{% extends 'source.html' %}
{% load staticfiles %}
{% block mainbody %}
    <div class="container">
        <div class="row">
            <div class="col-xs-1" align="center"></div>
            <div class="col-xs-2" align="center"><h1>logo</h1></div>
            <div class="col-xs-3" align="center">
                <div class="input-group" style="margin-top: 25px;">
                    <input type="text" class="form-control">
                    <span class="input-group-addon"><a href="#">搜索</a></span>
                </div>
            </div>
            <div class="col-xs-5" align="center" style="margin-top: 25px;">
                <ul class="breadcrumb">
                    <li>你好,&nbsp; {{ session.nicheng }}</li>
                    <li><a href="/index/show_news">新消息 <span class="badge">{{ session.msgnum }}</span></a>&nbsp;</li>
                    <li><a href="#">个人设置</a>&nbsp;</li>
                    <li><a href="/index/write_off/">注销</a></li>
                </ul>
            </div>
            <div class="col-xs-1" align="center"></div>
        </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-2" id="myScrollspy">
        <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
            <li><a  href="#menu1">我正在读</a></li>
            <li><a  href="#menu2">我的收藏</a></li>
            <li><a  href="#menu3">朋友圈</a></li>
            <li><a  href="#menu4">我的关注</a></li>
                {% if session.role == 1  %}
                    <li><a  href="/index/userhome">成为作家</a></li>
                {% elif session.role == 2 %}
                    <li><a> <font color="#adff2f">作家申请中...</font></a></li>
                {% elif session.role == 3 %}
                    <li><a  href="/index/writers_works">作品管理</a></li>
                    <li><a  href="#">粉丝圈</a></li>
                    <li><a  href="#">作家圈</a></li>
                    <li><a  href="#">钱包设置</a></li>
                {% endif %}
        </ul>
    </div>
    <div class="col-xs-8" class="tab-pane fade" align="center">
        {% block main %}
            <h1>我的信息</h1>
        {% endblock %}
    </div>
    <div class="col-xs-1"></div>

{% endblock %}
